body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  position: relative;
}
.header-background {
  position: relative;
  height: 25px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
  width: 975px;
}


.box-1 {
  position: relative;
  left:px;
  top:20px;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #4aaaa5;
  margin-left: 80px;
  width: 300px
}

.header-box {
  position: absolute;
  top: 0px;
}
h2 {
  font-size: 24px;
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-size: 24px;
  color: #4aaaa5;
  text-align: center;
}
a {
  color: black;
}

.container {
  width: 960px;
  margin: 0 auto;
  background: #cccccc;
}


nav {
  position: absolute;
    color: black;
    top: 20px;
    right: 80px;
    color: gray;
}
.nav-color {
  color: gray;
}

.main-box {
    position: relative;
    height: 500;
    width: 650px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
}

.thin-line {
  height: 5px;
  width: 600px;
  position: absolute;
  top: 80px;
  background: lightgray;

}
.right-text {
    position: absolute;
    top: 140px;
    left: 250px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-text {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-box {
  position: absolute;
  top: 85px;
  left: 735px;
  background: #fff;
  height: 50x;
  padding: 0px;
  border: 0px;
  width: 270px;
  text-align: center;
}

.contact-line {
  height: 2.5px;
  width: 250px;
  position: absolute;
  top: 65px;
  background: lightgray;
  text-align: center;
  left: 10px;
  border: 5px;
}

.footerstuff {
  background:#666666;
  height: 80px;
  width: 1020px;
  position: relative;
  text-align: center;
  color: white;
}
.foottag {
  bottom: 0px;
  position: absolute;
  color: lightgray;
  left: 420px;
  font-size: 14px;
}
.footline {
  height: 8px;
  width: 1020px;
  position: absolute;
  top: 80px;
  background: #4aaaa5;
  position: absolute;
  top: -20px;
}